@model ExamTickets.Controllers.AccountController.RegisterWebModel
@{
    ViewBag.Title = "Регистрация";
}

<h1>@ViewBag.Title</h1>

<div class="row">
    <div class="col-sm-6 border-1 shadow rounded bg-light">
        <div>
            <form asp-controller="Account" asp-action="Register" asp-antiforgery="true">
                <div asp-validation-summary="ModelOnly" class="text-danger alert-danger"></div>

                <div class="my-1">
                    <label asp-for="SurName" class="form-label"></label>
                    <input asp-for="SurName" class="form-control" placeholder="Введите фамилию пользователя" />
                    <span asp-validation-for="SurName" class="text-danger"></span>
                </div>

                <div class="my-1">
                    <label asp-for="FirstName" class="form-label"></label>
                    <input asp-for="FirstName" class="form-control" placeholder="Введите имя пользователя" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>

                <div class="my-1">
                    <label asp-for="Patronymic" class="form-label"></label>
                    <input asp-for="Patronymic" class="form-control" placeholder="Введите отчество пользователя" />
                    <span asp-validation-for="Patronymic" class="text-danger"></span>
                </div>

                <div class="my-1">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" class="form-control" placeholder="Введите действительный адрес своей электронной почты" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="my-1">
                    <label asp-for="Birthday" class="form-label"></label>
                    <input asp-for="Birthday" type="date" class="form-control" placeholder="Введите день рождения пользователя" />
                    <span asp-validation-for="Birthday" class="text-danger"></span>
                </div>
                
                <div class="my-1">
                    <label asp-for="UserName" class="form-label"></label>
                    <input asp-for="UserName" class="form-control" placeholder="Придумайте новый логин пользователя" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>

                <div class="my-1">
                    <label asp-for="Password" class="form-label"></label>
                    <input asp-for="Password" class="form-control" placeholder="Введите новый пароль пользователя" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="my-1">
                    <label asp-for="PasswordConfirm" class="form-label"></label>
                    <input asp-for="PasswordConfirm" class="form-control" placeholder="Введите подтверждение нового пароля" />
                    <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary my-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Подтверждение регистрации в системе">
                    Зарегистрироваться
                </button>
            </form>
        </div>
    </div>
</div>
