<div class="border-1 shadow rounded bg-light p-1">
    <h4 class="text-center text-white bg-success p-2">Управление профилем</h4>
    <div class="accordion-flush" id="accordionInfo">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a asp-controller="Account" asp-action="Index" class="nav-link text-dark">
                    Информация по профилю
                </a>
            </li>
        </ul>
    </div>
</div>