@inherits LayoutComponentBase

<footer class="border-top footer text-muted bg-dark">
    <div class="container-flyid">
        &copy; 2022 - kanadeiar <a class="text-light" href="https://github.com/kanadeiar/core">github</a>
    </div>
</footer>
