@inherits LayoutComponentBase

<header class="sticky-top">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark border-bottom mb-4">
        <div class="container-lg">
            <a class="navbar-brand" href="/">
                <img src="favicon.png" alt="Бренд" width="30" height="30" class="d-inline-block align-text-top">
                Билеты
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <NavLink class="nav-link" href="online">
                            Экзаменация
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="online">
                            Результаты
                        </NavLink>
                    </li>
                </ul>
                <div class="d-flex">
                    <AuthorizeView>
                        <Tooltip Text="Раздел управления профилем пользователя системы">
                            <a href="/account" class="btn btn-primary me-1">
                                <i class="fa fa-user"></i> @context.User.Identity?.Name
                            </a>
                        </Tooltip>
                    </AuthorizeView>
                    
                    <Tooltip Text="Завершить прохождение экзамена">
                        <a class="btn btn-outline-success me-1" href="/">
                            <i class="fa fa-arrow-left"></i> Завершить
                        </a>
                    </Tooltip>
                </div>
            </div>
        </div>
    </nav>
</header>