@inherits LayoutComponentBase

<div class="row m-0">
    <NavLink class="btn btn-outline-secondary" href="online" Match="NavLinkMatch.All"
             ActiveClass="btn-primary text-white">
        <span class="fa fa-home" aria-hidden="true"></span> Экзаменация
    </NavLink>
</div>
