@inherits LayoutComponentBase

<h4 class="text-center text-white bg-dark p-2 rounded">Экзаменация</h4>

<div class="row m-0">
    <NavLink class="btn btn-outline-secondary mb-1" href="online" Match="NavLinkMatch.All"
             ActiveClass="btn-dark text-white">
        <span class="fa fa-home" aria-hidden="true"></span> Экзаменация
    </NavLink>
    <NavLink class="btn btn-outline-secondary mb-1" href="online/group/1" ActiveClass="btn-dark text-white">
        А. Общие требования промышленной безопасности
    </NavLink>
</div>
