<div class="mt-4 p-2 mb-4 bg-success text-white rounded">
    <h1 class="display-2 mb-5"><strong>Экзаменационные билеты</strong></h1>
    <p class="lead">Приложение с экзаменационными билетами для охраны труда.</p>
    <hr>
    <p>Приложение экзаменования сотрудников.</p>
</div>