@{
    ViewBag.Title = "Главная";
}

<partial name="Partial/SliderPartial" />

<div class="row">
    <div class="col-sm-3">
        <partial name="Partial/_LeftSidebarPartial" />
    </div>
    <div class="col-sm-9">
        <h1>@ViewBag.Title</h1>
        
        <div class="border-1 shadow rounded bg-light p-1">

            <p>Главная страница приложения сдачи экзаменов билетов.</p>

        </div>

    </div>
</div>
